<launch>
  <!-- TODO: Change to the correct transform. -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_scan" args="0 0 0 0 0 0 base_link base_scan 100" />

  <!-- TODO: Change from base_link to base_footprint. -->
  <arg name="set_base_frame" default="base_link"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <rosparam command="load" file="$(find ss_mecanum)/config/gmapping_params.yaml" />
  </node>
</launch>
