<launch>
  <arg name="joy_config" default="atk3" />
  <arg name="joy_dev" default="/dev/input/js0" />
  
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node pkg="ss_mecanum" name="teleop_joy" type="teleop_joy.py" />

  <!--
  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <param name="joy_config" value="$(arg joy_config)" />
  </node>
  -->
</launch>
